<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>

	<connectionStrings>
		<add name="dbPlusNEntities" connectionString="metadata=res://*/dbPlusN.csdl|res://*/dbPlusN.ssdl|res://*/dbPlusN.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=dbPlusN;integrated security=True;application name=EntityFramework;&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>

</configuration>